<div class="row">
    <div class="col-md-6 col-sm-12 item" ng-repeat="streamer in streamsList | orderBy:'-isOnline'">
        <div id="item-list">
            <ul>
              <li>
                  <div ng-show="streamer.stream">
                      <img class="icon" ng-src="{{streamer.stream.channel.logo}}" alt="">
                      <a ng-href="{{streamer.stream.channel.url}}" target="_blank">{{streamer.stream.channel.name | uppercase}}</a>
                      <h4>{{streamer.stream.game}}</h4>
                      <p><span class="glyphicon glyphicon-eye-open"></span> {{streamer.stream.viewers}}</p>
                  </div>
                  <div ng-show="!streamer.stream">
                      <img class="icon" src="../images/offline.png" alt="">
                      <a ng-href="http://www.twitch.tv/{{streamer.name}}" target="_blank">{{streamer.name | uppercase}}</a>
                  </div>
              </li>
            </ul>
        </div>
    </div>
</div>
